asgiref==3.5.2; python_version >= "3.8"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
cfgv==3.3.1; python_full_version >= "3.6.1" and python_version >= "3.7"
distlib==0.3.4; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
django-cors-headers==3.12.0; python_version >= "3.7"
django==4.0.4; python_version >= "3.8"
djangorestframework-simplejwt==5.2.0; python_version >= "3.7"
djangorestframework==3.13.1; python_version >= "3.6"
drf-spectacular==0.22.1; python_version >= "3.6"
filelock==3.7.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
gunicorn==20.1.0; python_version >= "3.5"
identify==2.5.1; python_version >= "3.7"
inflection==0.5.1; python_version >= "3.6"
jsonschema==4.5.1; python_version >= "3.7"
nodeenv==1.6.0; python_version >= "3.7"
platformdirs==2.5.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pre-commit==2.19.0; python_version >= "3.7"
pyjwt==2.4.0; python_version >= "3.7"
pyrsistent==0.18.1; python_version >= "3.7"
pytz==2022.1; python_version >= "3.7"
pyyaml==6.0; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
sqlparse==0.4.2; python_version >= "3.8"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tzdata==2022.1; sys_platform == "win32" and python_version >= "3.8"
uritemplate==4.1.1; python_version >= "3.6"
virtualenv==20.14.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
whitenoise==6.1.0; python_version >= "3.7"
